body

{

	background-color: transparent;

}

#map

{

	height: 75vh;
	/* height: 42em; */

}



.opciones

{

	position: absolute;
	padding-left: 5px;
	left: 4.3em;
	top: 0.7em;

	/* position: absolute;

	    left: 50%;

	    top: 0;

	    transform: translate(-50%);

	    -webkit-transform: translate(-50%); */

	z-index: 1001;

}

.dropdown-menu

{

	min-width: 95%;

	left: auto;

}



.loading

{

	position: absolute;

	width: 100%;

	height: 100%;

	top: 0;

	left: 0;

	background-color: rgba(0,0,0,0.75);

	display: none;

	z-index: 1

}

.img_loading

{

	position: absolute;

	top:0;

	left:0;

	right:0;

	bottom:0;

	width: 50px;

	margin: auto;

}

.ui-datepicker-calendar,.ui-datepicker-month, .ui-datepicker-current {
    display: none;
    }​




.modal-body {

    max-height: calc(100vh -150px);

    overflow-y: auto;

}





/**

 * leonardini Fix

 */



@media print {

   #idBody, .opciones, .leaflet-control-container, .leaflet-control-attribution leaflet-control {

       display: none;

    }

    #map, #referencia {

       display: block;

    }
}